/* AppComponent's private CSS styles */

  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 20px;
    display: inline-block;
    background-color: rgb(247, 244, 88);
    border-radius: 45px;
    font-style: italic;
  }
  nav a:visited, a:link {
    color: #334953;
  }
  nav a:hover {
    color: #030b0f;
    background-color: #f0842c;
  }
  nav a.active {
    color: #04090c;
  }
