nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 20px;
    display: inline-block;
    background-color: #eee;
    background-image: linear-gradient(rgb(236, 221, 13) 0%, rgb(255, 193, 19) 33%, rgb(255, 6, 6) 100%);
    border-radius: 45px;
    font-style: italic;
  }
  nav a:visited, a:link {
    color: #334953;
  }
  nav a:hover {
    color: #000000;
    background-color: #cfd8dc;
  }
  nav a.active {
    color: #000000;
  }

  label {
    margin-right: 20px;
  }