<div align="right">
    <nav>
        <div *ngIf="!user else loggedin">
            <label>Username:
              <input #Username />
            </label>
            <!-- (click) passes input value to add() and then clears the input -->
            <a (click)="login(Username.value); Username.value=''">Login</a>
            <a routerLink="/create-user">New User</a>
        </div>
        <ng-template #loggedin>
            <label>Logged in as: {{user.firstName}} {{user.lastName}} </label>
            <a (click)="logout();">Logout</a>
        </ng-template>
    </nav>
</div>