<div class="dogs" *ngIf="loggedUser else notloggedin">
  <table *ngFor="let dog of dogs"
    [class.selected]="dog === selectedDog"
    (click)="onSelect(dog)">
    <thead><th>{{dog.petName}}</th></thead>
    <tbody align="center">
      <tr><td>Breed: {{dog.dogTypeId}}</td></tr>
      <tr><td>Hunger: {{getHunger(dog)}}</td></tr>
      <tr><td>Mood: {{getMood(dog)}}</td></tr>
      <tr><td>Energy: {{getEnergy(dog)}}</td></tr>
      <tr><td>Age (in months): {{dog.age}}</td></tr>
    </tbody>
  </table>
</div>

<ng-template #notloggedin>
  <p>You must be logged in to access the kennel.</p>
</ng-template>