.dogs {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 5;
    width: 20em;
  }
  .dogs table {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #ffbd66;
    width: 400px;
    margin: .5em;
    padding: .3em 0;
    height: 5em;
    border-radius: 4px;
  }
  .dogs table:hover {
    background-color: #fca635;
    left: .1em;
  }
  .dogs table.selected {
    background-color: #fc9814;
  }